body {
    font-family: Arial, sans-serif;
    background: #89a8aa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background: #03484a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #fff6f6;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: aliceblue;
}

.form-container input[type="text"],
.form-container input[type="tel"],
.form-container input[type="email"],
.form-container input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.form-container input[type="submit"] {
    background: ssss#652f2f;
    color: rgb(6, 6, 6);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-container input[type="submit"]:hover {
    background: #2b7174;
}


